$totter__board-color: #ff0000;
$teeter-totter__support-color: #9db1f6;
$header-color-light: #efebeb;
$header-color-dark: #565656;
$object-size: 2.25rem;
$object-weight-text: 10px;
$object-triangle-vertical-size: 1.5rem;
$object-triangle-bottom-size: 2rem;
$object-triangle-weight-size: 4.5rem;

$teeter-totter__support-border-vertical: 3rem;
$teeter-totter__support-border-bottom: 8rem;


.the-object {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top left;

  .the-object__weight {
    font-size: $object-weight-text;
    font-weight: 500;
    color: #fff;
  }
}

.the-object--square,
.the-object--circle {
  width: $object-size;
  height: $object-size;
}

.the-object--circle {
  border-radius: 50%;
}

.the-object--triangle {
  width: 0;
  height: 0;
  border-left: $object-triangle-vertical-size solid transparent;
  border-right: $object-triangle-vertical-size solid transparent;
  border-bottom: $object-triangle-bottom-size solid;

  .the-object__weight {
    position: absolute;
    top: calc(100% + 1rem);
    width: $object-triangle-weight-size;
    text-align: center;
  }
}

.teeter-totter__board {
  position: relative;
  width: 100%;
  background-color: $totter__board-color ;
  transition: 300ms ease-in-out;
}

.teeter-totter__support {
  width: 0;
  height: 0;
  border-left: $teeter-totter__support-border-vertical solid transparent;
  border-right: $teeter-totter__support-border-vertical solid transparent;
  border-bottom: $teeter-totter__support-border-bottom solid $teeter-totter__support-color;
}

.game-area {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.object-falling-area {
  position: relative;
  flex: 1 1 50%;
}

.the-header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 6rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 20px
}

.the-header-light{
  background-color: $header-color-light;
}

.the-header-dark{
  background-color: $header-color-dark;
}

.the-objects-stats {
  font-size: 14px;
  margin: 0 20px;
}

.the-objects-stats__weight {
  font-size: .9rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .teeter-totter__support{
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 4rem solid $teeter-totter__support-color;

  }
  .game-area {
    width: 95%;
    padding-bottom: 6rem;
  }
}

.mobile-controller {
  width: 100%;
  position: fixed;
  bottom: 10px;
}
